@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    margin: 0;
    padding: 0;
}


.login-container {

    display: flex;
    gap: 0px; 
    height: 100vh;

}
.login-esquerda {

    background-color: #1E1E1E;
    width:40%;
    display: flex;
    align-items: center;
    
}

.login-esquerda-texto {

    color: #FFFFFF;
    padding: 15% 15%;
    font-size: 65px;
    text-align: center;
   
}

.login-direita {

    background-color: #FFFFFF;
    width:60%;
   
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 80px; */
    