
#apresentacao {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px;
}

#apresentacao .conteudo-apresentacao {
    max-width: 60%; 
}

#logo_apresentacao {
     max-width: 200px; 
     height: auto;
}